/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define NUM_SYM 1
#define NAV     2

/ {
    combos {
        compatible = "zmk,combos";

        ENT {
            bindings = <&kp ENTER>;
            key-positions = <19 20>;
            timeout-ms = <50>;
        };

        BACKSP {
            bindings = <&kp BACKSPACE>;
            key-positions = <7 8>;
        };

        DELT {
            bindings = <&kp DELETE>;
            key-positions = <8 9>;
        };
    };

    behaviors {

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            quick-tap-ms = <0>;
            global-quick-tap;
        };

        ltq: ltq {
            compatible = "zmk,behavior-hold-tap";
            label = "LTQ";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;

            quick-tap-ms = <0>;
            global-quick-tap;
        };

        as: auto_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "AUTO_SHIFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };

    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    &kp ESC         &as EXCLAMATION N1   &as AT_SIGN N2  &as HASH N3  &as DOLLAR N4  &as PERCENT N5            &as CARET N6  &as AMPERSAND N7  &as ASTERISK N8      &as LEFT_PARENTHESIS N9  &as RIGHT_PARENTHESIS N0  &kp N0
    &kp TAB         &kp Q                &kp W           &kp E        &kp R          &kp T           &kp HOME  &kp Y         &kp U             &kp I                &kp O                    &kp P                     &kp BSPC
    &kp LCTRL       &kp A                &kp S           &kp D        &kp F          &kp G                     &kp H         &kp J             &kp K                &kp L                    &td1                      &kp ENTER
    &kp LEFT_SHIFT  &kp Z                &kp X           &kp C        &kp V          &kp B           &kp END   &kp N         &kp M             &as LESS_THAN COMMA  &as GREATER_THAN PERIOD  &as QUESTION SLASH        &kp RIGHT_SHIFT
               &kp LEFT_GUI  &kp LEFT_ALT  &ltq 1 CAPSLOCK  &kp SPACE      &ltq 1 BSPC  &ltq 2 DEL  &kp PAGE_UP  &kp PAGE_DOWN
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
        shortcut_num {
            bindings = <
    &trans  &kp F1           &kp F2     &kp F3         &kp F4                       &kp F5                                &kp F6                &kp F7               &kp F8                &kp F9                   &kp F10                   &kp F11
    &trans  &kp LC(LS(TAB))  &kp LC(W)  &kp LC(LA(A))  &as LEFT_BRACE LEFT_BRACKET  &as RIGHT_BRACE RIGHT_BRACKET  &none  &as UNDERSCORE MINUS  &as AMPERSAND N7     &as ASTERISK N8       &as LEFT_PARENTHESIS N9  &as RIGHT_PARENTHESIS N0  &trans
    &trans  &kp LC(TAB)      &kp LC(A)  &kp LC(S)      &kp LC(F)                    &kp LG(V)                             &as PLUS EQUAL        &as DOLLAR NUMBER_4  &as PERCENT N5        &as CARET N6             &kp BSPC                  &trans
    &trans  &trans           &kp LC(Z)  &kp LC(X)      &kp LC(C)                    &kp LC(V)                      &none  &as PIPE BACKSLASH    &as EXCLAMATION N1   &as AT_SIGN NUMBER_2  &as HASH NUMBER_3        &kp DOT                   &trans
                             &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        shortcut_arrow {
            bindings = <
    &trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans
    &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
    &trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans
    &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                    &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        ble_keys {
            bindings = <
    &trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans
    &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
    &trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans
    &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                    &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
